[submodule "docs/discord-api-docs"]
	path = docs/discord-api-docs
	url = https://github.com/discord/discord-api-docs.git
	branch = main
[submodule "libs/zlib"]
	path = packages/zlib/deps/zlib
	url = https://github.com/madler/zlib.git
[submodule "libs/zstd"]
	path = packages/zstd/deps/zstd
	url = https://github.com/facebook/zstd
