[submodule "docs/discord-api-docs"]
	path = docs/discord-api-docs
	url = https://github.com/discord/discord-api-docs.git
	branch = main
[submodule "packages/zlib/deps/zlib"]
	path = packages/zlib/deps/zlib
	url = https://github.com/madler/zlib.git
[submodule "packages/zstd/deps/zstd"]
	path = packages/zstd/deps/zstd
	url = https://github.com/facebook/zstd
[submodule "packages/opus/deps/opus"]
	path = packages/opus/deps/opus
	url = https://github.com/xiph/opus.git
[submodule "packages/opus/deps/libsodium"]
	path = packages/opus/deps/libsodium
	url = https://github.com/jedisct1/libsodium.git
